*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--clr-dark-blue: hsl(243, 87%, 12%);
	--clr-desaturated-blue: hsl(238, 22%, 44%);

	--clr-bright-blue: hsl(224, 93%, 58%);
	--clr-modeerate-cyan: hsl(170, 45%, 43%);

	--clr-lightgrayish-blue: hsl(240, 75%, 98%);
	--clr-light-gray: hsl(0, 0%, 75%);

	--clr-white: #ffffff;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: raleway;
}

h1,
h2 {
	font-size: 2.125rem;
}

p {
	margin-block: 1rem;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: raleway;
}

.width-container {
	max-width: min(90%, 1200px);
	margin-inline: auto;
}

/* Main */

main {
	padding-block: 3rem;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header ul {
	display: flex;
	align-items: center;
	gap: 3rem;
	list-style: none;
}

header a {
	text-decoration: none;
	color: var(--clr-dark-blue);
}

header .logo {
	width: 100px;
}

@media (max-width: 500px) {
	header {
		flex-direction: column;
		gap: 2rem 0;
	}
}

.main-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 3rem;
	margin-top: 4rem;
}

.email-input {
	padding: .25rem 2rem;
	border: 1px solid var(--clr-light-gray);
}

button {
	background: var(--clr-bright-blue);
	color: var(--clr-white);
	padding: .25rem 3rem;
	border: 1px solid var(--clr-bright-blue);
	cursor: pointer;
}

.email-input,
button {
	border-radius: .25rem;
	outline: none;
}

.form-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem .25rem;
}

@media (max-width: 800px) {
	.main-content {
		flex-direction: column-reverse;
		text-align: center;
	}

	.form-container {
		justify-content: center;
		flex-direction: column;
	}
}

/* About Section with Testimonial */

.about {
	background-image: url(images/bg-curve-desktop.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-block: 4rem;
}

.flex-container {
	display: flex;
	align-items: center;
	gap: .5rem;
}

.testimonial-card {
	width: 350px;
	background: var(--clr-white);
	padding: 2rem;
	border-radius: .5rem;
	margin-top: 1rem;
	font-size: .85rem;
	text-align: left;
}

.testimonial-headshot {
	width: 30px;
	border-radius: 50%;
}

.testimonial-profile {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.testimonial-profile p {
	line-height: 1.2;
	font-weight: 900;
}

.testimonial-profile span {
	font-weight: 300;
}

.illustration-two {
	width: 650px;
}

.link {
	color: var(--clr-modeerate-cyan);
}

@media (max-width: 800px) {
	.about {
		background-image: url(images/bg-curve-mobile.svg);
	}

	.flex-container {
		justify-content: center;
	}

	.testimonial-card {
		margin-inline: auto;
	}
}

/* Final CTA */

.final-cta {
	padding-block: 4rem;
	background: var(--clr-desaturated-blue);
	color: var(--clr-white);
}

.two-col {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: space-between;
	gap: 3rem;
}

.form {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	width: 85%;
	margin-left: auto;
}

.btn {
	align-self: flex-start;
}

@media (max-width: 725px) {
	.two-col {
		grid-template-columns: 1fr;
	}

	.form {
		margin-left: unset;
		width: 100%;
	}

	.btn {
		align-self: auto;
	}
}

/* Footer */

footer {
	background: var(--clr-dark-blue);
	color: var(--clr-white);
	padding-block: 4rem;
}

.footer-flex-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 2rem;
	flex-wrap: wrap;
	margin-top: 2rem;
}

.contact-flex-container {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;
}

.contact-flex-container > p {
	margin: 0;
}

.footer-list {
	list-style: none;
}

.footer-list li {
	margin-bottom: 1rem;
}

.footer-list a {
	color: var(--clr-white);
	text-decoration: none;
}

.social-list i {
	width: 20px;
	text-align: center;
}

.social-list a {
	color: var(--clr-white);
	margin-inline: .25rem;
	padding: .25rem;
	border-radius: 50%;
	font-size: .95rem;
	border: 1px solid var(--clr-white);
}

@media (max-width: 475px) {
	.footer-flex-container {
		flex-direction: column;
	}

	.social-list {
		margin-inline: auto;
	}
}

















